<a href="https://colab.research.google.com/github/rich-hyun/data_sets/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q1: Simple String Slicing

#1.1 Extract the First 3 Character. Given the following string text, Extract the first three characters. (3pts)

In [50]:
text = "Python"
print(text[:3])

Pyt

##1.2 Extract the Last 3 Characters for the following string word.(3pts)

In [51]:
word = "Programming"
print(word[-3:])

ing

##1.3 Reverse the string name. (4pts)

In [52]:
name = 'Alice'
print(name[::-1])

ecilA

##1.4 Extract the Middle Part of a String. (3 pts)

In [53]:
phrase = "HelloWorld"
print(phrase[3:7])

loWo

##1.5 Intermediate String Slicing - Remove the First and Last Character given string username. (4pts)

In [54]:
word = "Python"
modified_word = word[1:-1]
print(modified_word)  # Output: "ytho"

username = "Student"
aa=username[1:-1]
print(aa)

ytho
tuden

##1.6 Intermediate String Slicing - Given string letters, extract Every Second Character. (4pts)

In [55]:
letters = "abcdefg"
print(letters[::2])

aceg

##1.7 Advanced String Slicing: given string sentence, extract every third Character (4pts)

In [56]:
sentence = "abcdefghijk"
print(sentence[::3])

adgj

##1.8 Advanced String Slicing: given string sentence, reverse and extract Every Second Character. (3pts)

In [57]:
sentence = "abcdefghijk"
print(sentence[::-1][::2])

kigeca

#Part 2: List Slicing Practice (With Hints!) (30pts)Â¶
Basic List indexing

In [58]:
numbers = [50, 100, 450, 10, 20, 30, 40, 50, 60, 70, 2060, 210, 112]

###2.1 Given list numbers, extract the first three elements using slicing. (3pts)

In [59]:
print(numbers[:3])

[50, 100, 450]

##2.2 Extract the Last 3 Elements. (3pts)

In [60]:
fruits = ['blueberry', "apple", "banana", "cherry", "date", "fig", "grape", "kiwi", 'mango']
print(fruits[-3:])

['grape', 'kiwi', 'mango']

##2.3 Given list fruits, Extract elements from index 2 to 5 (inclusive of index 2, exclusive of index 5). (3pts)

In [61]:
print(fruits[2:5])

['banana', 'cherry', 'date']

##2.4 Extract Every Second Element given list fruits. (4pts)

In [62]:
print(fruits[::2])

['blueberry', 'banana', 'date', 'grape', 'mango']

##2.5 Reverse a List. Reverse the list fruits. (3pts)

In [63]:
print(fruits[::-1])

['mango', 'kiwi', 'grape', 'fig', 'date', 'cherry', 'banana', 'apple', 'blueberry']

##2.6 Extract Every Third Element of list fruits in reverse. (3pts)

In [64]:
print(fruits[::-3])

['mango', 'fig', 'banana']

2.7 Challenge problem - Extract the Middle Elements given list colors, in other words, extract all elements except the first and last.(3pts)

In [65]:
colors = ["black", "red", "blue", "green", "yellow", "orange", "purple", "pink"]
print(colors[1:-1])

['red', 'blue', 'green', 'yellow', 'orange', 'purple']

##2.8 Challenge problem - Split a List into Two Halves given list words. (4pts)

In [66]:
words = ["Python", "Java", "C++", "JavaScript", "Ruby", "Swift", "R", "SAS", "Perl"]
def split_list(lst):
    mid = len(lst) // 2
    return lst[:mid], lst[mid:]

first_half, second_half = split_list(words)
print("Second Half:", second_half)
print("First Half:", first_half)

Second Half: ['Ruby', 'Swift', 'R', 'SAS', 'Perl']
First Half: ['Python', 'Java', 'C++', 'JavaScript']

##2.9 Challenge problem - Replace the middle three elements of list numbers with [-1, -2, -3]. (4pts)

In [67]:
numbers = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
mid_s = len(numbers) // 2 - 1  # ì¤ê° ìì ì¸ë±ì¤
mid_e = mid_s + 3            # ë ì¸ë±ì¤

# ì¤ê° ë¶ë¶ ëì²´
numbers[mid_s:mid_e] = [-1, -2, -3]

print(numbers)

[0, 5, 10, 15, -1, -2, -3, 35, 40, 45, 50]

#Part 3: Tuple Practice

#3.1 Tuple Creation and Print First and Last Elements

In [68]:
t = (5, 10, 15, 20, 25)
print(t[0])
print(t[-1])

5
25

##3.2 Print the Third Element

In [69]:
print(t[2])

15

##3.3 Extract the Middle 4 Elements

In [70]:
t = (5, 10, 15, 20, 25, 30, 35)
print(t[2:6])

(15, 20, 25, 30)

##3.4 Tuple Concatenation

In [71]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5, 6)

##3.5 Tuple Repetition

In [72]:
t4 = (7, 8)
t4_repeat = t4 * 3
print(t4_repeat)

(7, 8, 7, 8, 7, 8)

##3.6 Tuple Sorting

In [73]:
t6 = (4, 1, 7, 2, 9)
a = tuple(sorted(t6))
print(a)

(1, 2, 4, 7, 9)

#Part 4 Dictionary Practice (With Hints!) (10pts)

In [74]:
person = {"name": "Linda", "age": 25, "city": "Seattle", "gender": "Female"}

##4.1 Given the dictionary person, print its keys. (1pts)

In [75]:
print(person.keys())

dict_keys(['name', 'age', 'city', 'gender'])

##4.2 Given the dictionary person, print its values. (1pts)

In [76]:
print(person.values())

dict_values(['Linda', 25, 'Seattle', 'Female'])

##4.3 Given the dict person, Add a new key-value pair to it, the new key-value pair is "job": engineer. (3pts)

In [77]:
person["job"] = "engineer"
print(person)

{'name': 'Linda', 'age': 25, 'city': 'Seattle', 'gender': 'Female', 'job': 'engineer'}

##4.4 Delete the key age from the dictionary

In [78]:
del person["age"]
print(person)

{'name': 'Linda', 'city': 'Seattle', 'gender': 'Female', 'job': 'engineer'}

##4.5 Iterate over the dictionary and print key-value pairs

In [79]:
for key, value in person.items():
    print(f"{key}: {value}")

name: Linda
city: Seattle
gender: Female
job: engineer

#Part 5: Sets Practice
##5.1 Create a set and print elements

In [80]:
s = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

##5.2 Add an element to the set

In [81]:
s.add(11)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

##5.3 Remove an element from the set

In [82]:
s.remove(10)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11}

##5.4 Find the union of sets A and B

In [83]:
A = {1, 2, 3}
B = {3, 4, 5}
union_set = A | B
print(union_set)  # ì¶ë ¥: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

##5.5 Find the intersection of sets A and B

In [84]:
a = A & B
print(a)

{3}

##5.6 Find the difference between sets A and B

In [85]:
print(B-A)
print(A-B)

{4, 5}
{1, 2}

##Part 5.7: Convert a list to a set (remove duplicates)

In [86]:
lst = [1, 2, 3, 1, 2, 4, 5, 5]
print(set(lst))

{1, 2, 3, 4, 5}

#Part 6: Comprehensive Problem
##6.1 Remove duplicates from a list

In [87]:
num_lst = [1, 2, 2, 3, 4, 4, 5, 70, 90, 45, 34, 12, 98, 716, 0, 5, 4, 56, 128, 15, 716, 671, 2, 1, 9, 217, 34]
print(list(set(num_lst)))

[0, 1, 2, 3, 4, 5, 128, 9, 12, 15, 671, 34, 45, 56, 70, 716, 217, 90, 98]

##6.2 Find common elements between two lists

In [88]:
l1 = [1, 2, 3, 4, 5]
l2 = [3, 4, 5, 6, 7]
A = list(set(l1) & set(l2))
print(A)

[3, 4, 5]

##6.3 Merge two lists

In [89]:
print(l1+l2)

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

##6.4 Add a new student and print the updated list

In [90]:
students = [
    ("Alice", {"Math": 90, "Science": 85}),
    ("Bob", {"Math": 78, "English": 82}),
    ("Charlie", {"Science": 88, "English": 91}),
]

nt = ("David", {"Math": 79, "Science": 90})
students.append(nt)

for student in students:
    print(student)

('Alice', {'Math': 90, 'Science': 85})
('Bob', {'Math': 78, 'English': 82})
('Charlie', {'Science': 88, 'English': 91})
('David', {'Math': 79, 'Science': 90})

#Part 7: Write Expectations
Hi my name is DEX, I'm from korea. I want to learn static using python and upgrade my math skill. I want to upgrade my English skill either. Listen zoom class is very helpful for me. Thank you!!